@import './../vars';

.single-story-conatiner {
  width: 700px;
  margin: 2rem auto;
}

.single_story-title {
  font-size: 2rem;
  margin: 0.5rem 0;
  color: #393939;
}

.single_story-date {
  color: #393939;
}

.story-info-block {
  margin: 1.5rem 0;
}

.single_story-description {
  font-family: 'Roboto Slab', serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  word-spacing: 0.2rem;
}

.single_story-author {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}

.story-author {
  font-size: 1.3rem;
}